.CV {
  display: flex;
  background-color: white;
  min-width: 595px;
  max-width: 595px;
  height: 842px;
  border: 1px solid black;
  padding: 40px;
  flex-direction: column;
  overflow-y: scroll;
}

.CV * {
  width: 100%;
}
.CV::-webkit-scrollbar {
  display: none;
}

.sectionHeader {
  border-bottom: 2px solid rgb(65, 65, 65);
  width: 100%;
}
