.CV {
  display: flex;
  justify-content: center;
  background-color: white;
  min-width: 595px;
  max-width: 595px;
  height: 842px;
  border: 1px solid black;
  padding: 40px;
  padding-top: 70px;
}

.CV * {
  width: 100%;
}
