.CV {
  display: flex;
  background-color: white;
  min-width: 595px;
  max-width: 595px;
  height: 842px;
  border: 1px solid black;
  padding: 40px;
  flex-direction: column;
}

.CV * {
  width: 100%;
}
