.Fillup {
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  width: calc((40vw) - 40px);
  position: fixed;
  display: flex;
  height: calc((95vh) - 40px);
  align-items: center;
}
.entryList {
  overflow-y: scroll;
  height: 70%;
  width: 100%;
}
.addEntryButton {
  margin-top: 10px;
  width: 96%;
  text-align: center;
  background-color: rgb(110, 255, 110);
}

.educationEntryHeader,
.experienceEntryHeader {
  display: flex;
  gap: 30px;
}
