.Navigation {
  display: flex;
  position: absolute;
  bottom: 15px;
}
.navButton {
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px;
  min-width: 80px;
  text-align: center;
  user-select: none;
}

.navigationButtonList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.navIndicators {
  align-self: center;
  display: flex;
  gap: 15px;
}
.activeNav {
  background-color: yellowgreen;
}
.navIndicator {
  border-radius: 10px;
  height: 15px;
  width: 15px;
  padding: 5px;
  border: 2px solid rgb(88, 88, 88);
}
